@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

:root{
    --cor-fonte-principal: white;
    --cor-fonte-anti-principal: black;
}

*{
    font-family: 'DM Sans';
    box-sizing: border-box;
}

.content {
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-color: white;
}
@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 0 auto;
    }
}

.titulo{
    font-weight: 700;
    color: var(--cor-fonte-anti-principal);
    margin-left: .5rem;
    margin-right: .5rem;
}

.infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .3rem;
}
.lista-de-pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 220px){
    .lista-de-pokemons{
        grid-template-columns: 1fr !important;
    }

    .pokemon .detail img {
        align-self: center !important;
        max-width: 100% !important;
        height: 80px !important;
    }

    .pokemon .detail .types .type {
        align-self: center !important;
        justify-self: center;
        text-align: center;
    }

    .detail{
        flex-direction: column !important;
        align-items: center !important;
    }
    .infos{
        flex-direction: column;
    }
}

@media screen and (max-width: 450px){
    .lista-de-pokemons{
        grid-template-columns: 1fr !important;
    }
}

@media screen and (min-width: 576px){
    .lista-de-pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .lista-de-pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem 1rem;
    background-color: #1083b1;
    color: var(--cor-fonte-principal);
    border-radius: 1rem;
    height: auto;

    transition: all 0.5s;
    animation: anim_pokemon 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes anim_pokemon {
    0%{
        scale: 105%;
    }
    100%{
        scale: 100%;
    }
}
.pokemon:hover{
    scale: 105%;
    cursor: pointer;
    filter: brightness(106%);
    transform: perspective(50rem) rotateY(-5deg);
    box-shadow: 3px 1px #8080804f;
}

.nome{
    font-size: 18px;
    font-weight: 600;

}
.pokemon .detail img{
    align-self: flex-end;
    max-width: 100%;
    height: 80px;
}

.detail{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.pokemon .numero{
    color: rgba(0, 0, 0, 0.384);
    text-align: end;
    font-size: .80rem;
}

.pokemon .infos .nome{
    text-transform: capitalize;
}

.pokemon .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{

    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .70rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.pagination{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
}

#btn_loadpokemon{
    background-color: rgb(148, 148, 148);
    border: none;
    border-radius: 1rem;

    padding: .25rem .5rem;
    margin: .25rem 0;

    font-size: .9rem;
    color: white;
    cursor: pointer;

    transition: all .5s;
}

#btn_loadpokemon:hover{
    background-color: rgb(46, 46, 46);
    scale: 105%;
}
